body {
	background-color: #CEF6F5;
}
.content{
	position: fixed;
	top: 100px;
	width: 100%;
	text-align: center;
	height: 100%;
	border-top: 2px solid black;
}
.cur{
	font-weight: bold;
	color: #cc3399;
	border: 3px solid #fff;
}
